<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.comment">
	
	<insert id="insert" parameterType="com.web.vo.DpCommentVO">
		insert into doppio_comment values('cm_'||sequ_doppio_comment_cmnum.nextval, #{cmcomment},'test',sysdate,#{cmcate_num})
	</insert>
	
	<select id="list" parameterType="map" resultType="com.web.vo.DpCommentVO">
		select cmnum, cmcomment, id, cmdate,cmcate_num from doppio_comment where cmcate_num=#{num} 
	</select>

	<update id="update" parameterType="com.web.vo.DpCommentVO">
		update doppio_comment set cmcontent=#{cmcomment} where cmnum=#{cmnum}
	</update>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from doppio_comment where cmnum=#{cmnum}
	</delete>
	
	<select id="count" resultType="int">
		select count(*) from doppio_comment
	</select>
</mapper>